
/* =========== All Section Style ============= */
a {
    text-decoration: none;
}
a:hover {
    color: #c20312 !important;
    text-decoration: none !important;
}
.btn.ss-btn {
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 6px;
}
.btn.ss-btn:hover {
    background: #000;
    color: #fff;
}
.container {
    max-width: 1320px !important;
}
.sticky-menu {
    padding: 0.5%;
    z-index: 999;
}
.sticky-menu .logo {
    line-height: 1;
}
.section-title h2 {
    font-size: 44px;
}
#scrollUp {
	right: 2.5%;
	bottom: 15%;
}
.calendly-badge-widget {
    bottom: 7.5% !important;
    right: 2.5% !important;
}

/* =========== Home Section ============= */
.s-slider-content p {
    color: #000;
}
.slider-bg {
    min-height: 625px !important;
}
.slider-bg .overlay-bg {
    position: absolute;
    z-index: 2;
    right: 10%;
    bottom: 20%;
}

/* =========== About Section ============= */
#about {
    background-color: #fff;
}
.about-img img {
    width: 100%;
    max-height: 550px;
    border-radius: 6px;
}
.about-content {
    margin-left: -5%;
}

/* =========== Linkedin Section ============= */
.linkedin-area {
    background-image: url(../img/bg/sandeep-bg.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 90px 0px;
}
.badge-container {
    width: 300px; 
    height: 500px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.LI-profile-badge {
    transform: scale(1.35);
    transform-origin: left center;
}
.linkedin-profile {
    margin-left: 2.5%;
    margin-top: 2.5%;
}
.profile-badge--dark {
    -webkit-box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1) !important;
}
.profile-badge__cta-btn--dark:hover {
    background-color: transparent !important;
}
.profile-badge__content-profile-name-link {
    font-size: 22px !important;
    text-decoration: none;
}
.profile-badge__content-profile-headline {
    font-size: 12px !important;
    font-weight: 200 !important;
    text-transform: capitalize;
}
.profile-badge__content-profile-company-school-info {
    font-size: 14px !important;
}
.profile-badge__cta-btn--dark {
    font-size: 14px !important;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #fff !important;
    border-radius: 6px !important;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

/* =========== Workspace Section ============= */
.gallery-image {
    padding: 15px 15px;
    border-radius: 6px;
}
.gallery-image img {
    width: auto;
    margin-top: 0px;
    margin-bottom: 2.5%;
}

/* =========== Recognition Section ============= */
#recognition {
    background-color: #fff;
}
#recognition .faq-btn {
    line-height: 26px;
    padding: 20px 0px 20px 20px;
    padding-left: 7.5%;
    display: flex;
    align-items: center;
}
#recognition .faq-wrap .accordion {
    counter-reset: cardCount;
}
#recognition .faq-wrap .card-header {
    counter-increment: cardCount;
}
#recognition .faq-wrap .card-header h2 button::before {
    position: absolute;
    content: counter(cardCount, decimal-leading-zero);
    left: 0px;
    font-size: 22px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    color: #fff;
    background: #000;
    border-radius: 4px;
    padding: 1%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#recognition .faq-wrap .card-header h2 button::after {
    display: none
}


/* =========== Testimonials Section ============= */
.testi-author {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.testi-author img {
    margin-right: 0%;
    max-height: 50px;
    margin-bottom: 2.5%;
}
.testimonial-active p {
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
}
.testimonial-active .ta-info {
    margin-bottom: 0%;
}
.testimonial-active .qt-img {
    margin-bottom: 20px;
}
.testimonial-active .slick-dots {
    display: none !important;
}

/* =========== Partners Section ============= */
.brand-area {
    background-color: #000;
}
.brand-partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
}
.brand-partners {
    text-align: center;
}
.brand-partners img {
    max-width: 250px;
}

/* =========== News Section ============= */
#news .s-single-services {
    padding: 0px 0px 50px;
    border-radius: 6px;
}
#news .s-single-services h3 {
    min-height: 75px;
    padding: 0% 5%;
}
#news .s-single-services.active .readmore {
    text-decoration: none;
}
#news .s-single-services .readmore {
    background-color: #c20312;
    color: #fff;
}
#news .s-single-services:hover .readmore {
    background-color: #000;
    color: #fff !important;
}

/* =========== Blogs Section ============= */
#blog {
    background-color: #fff;
}
#blog .bsingle__post .bsingle__post-thumb img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#blog .bsingle__post .bsingle__content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.bsingle__content {
    margin-top: -6px;
    padding: 40px 30px 15px;
}
.bsingle__content h2 {
    min-height: 50px;
    margin-bottom: 2.5%;
}
.bsingle__content h2 a {
    color: #000;
}
.bsingle__content .meta-info ul {
    margin-bottom: 20px;
}
.bsingle__content:hover .readmore {
    text-decoration: none;
    color: #c20312;
}
.details__content-img img {
    border-radius: 6px;
}
.details__content-img {
    margin: 0 0 45px;
}
.inner-blog .blog-details-wrap .meta-info ul {
    display: flex;
    justify-content: space-between;
}
.blog-details-wrap .meta-info ul li {
    border: none;
}
.posts_navigation .prev-link h4 a,
.posts_navigation .next-link h4 a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}

/* =========== Contact Section ============ */
.f-contact li {
    text-align: center !important;
}
.f-widget {
    border: 1px solid #c20312;
    border-radius: 6px;
}
.contact-field input {
    border-radius: 6px;
    padding-left: 2.5%;
    height: calc(2em + 1rem + 2px);
}
.contact-field textarea {
	border-radius: 6px;
    padding: 1.5%;
}

/* =========== Footer Section ============ */
footer .copyright-wrap a {
    color: #c20312;
    text-decoration: none;
}
.copyright-wrap {
    padding: 20px 30px 10px;
    margin-top: 7.5%;
    border-radius: 30px 30px 0px 0;
}


/* =========== Responsiveness ============= */
@media screen and (min-width: 992px) and (max-width: 1300px) {
    .second-menu .main-menu ul li {
        margin-left: 1.5%;
    }
}
@media only screen and (max-width: 991px) {
    .pt-80 {
        padding-top: 60px;
    }
    .pb-80 {
        padding-bottom: 60px;
    }
    .pl-60 {
        padding-left: 15px;
    }
    .menu-area {
        padding: 5px 0;
        background-color: #fff;
    }
    .logo {
        margin-bottom: 0%;
    }
    .menu-area.sticky-menu {
        padding: 10px 0;
    }
    .section-title {
        text-align: center;
    }
    .slider-bg {
        min-height: 450px !important;
    }
    .slider-bg .video-i.popup-video {
        display: inline-block;
        margin-bottom: 20px;
    }
    .slider-content {
        margin-left: 2.5%;
    }
    .s-slider-content p {
        padding-right: 2%;
    }
    .about-content {
        margin-top: 5%;
        margin-left: 0%;
        text-align: center;
    }
    /* .about-img img {
        max-height: 100%;
    } */
    .linkedin-area {
        background-position: 80% center;
    }
    .linkedin-area .faq-wrap-img {
        margin-top: 0%;
    }
    .linkedin-area .faq-wrap-img img {
        height: 0px;
    }
    .linkedin-profile {
        margin-left: 2.5%;
        margin-top: 2.5%;
    }
    #recognition .faq-btn {
        padding: 20px 0px 20px 20px;
        padding-left: 7.5%;
    }
}

@media only screen and (max-width: 767px) {
    .pt-80 {
        padding-top: 40px;
    }
    .pb-80 {
        padding-bottom: 40px;
    }
    .menu-area {
        padding: 0;
        background-color: #fff;
    }
    .menu-area.sticky-menu {
        padding: 10px 0;
    }
    .section-title {
        text-align: center;
    }
    .slider-bg .video-i.popup-video {
        display: inline-block;
    }
    .about-content {
        margin-top: 5%;
        margin-left: 0%;
    }
    .linkedin-area {
        background-image: none;
    }
    .linkedin-area .faq-wrap-img {
        margin-top: 0%;
    }
    .linkedin-area .faq-wrap-img img {
        height: 0px;
    }
    .linkedin-profile {
        margin-left: -4%;
        margin-top: 5%;
    }
    #recognition .faq-btn {
        padding: 20px 0px 20px 20px;
        padding-left: 15%;
    }
}
